.mainBlock {
    height: 100vh;
    background-color: #ffd4f0;
}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.greetingText {
    width: 300px;
    background-color: #FFF0CB;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #FFF0CB;
}