.workBlockWrapper {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.workBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50vh;
    background-color: #99d0fb;
    border: 1px solid red;
    height: 50vh;
}

.clickToWatch {
    width: 100px;
    background-color: #ffd4f0;
    padding: 8% 15%;
    cursor: pointer;
}
.infoAboutProjectBlock {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50vh;
    min-height: 20vh;
}