.skillsBlock {
    height: 100vh;
    background-color: lavender;
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: blanchedalmond;
}
.skills {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 95%;
    height: 100%;
    flex-wrap: wrap;
}